*{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 0.5rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color:white;
    font-weight: 600;
}
.nav{
    background-color: #121212;
    border-radius: 0.5rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    background-color: #121212;
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.nav-option i{
    background-color: #121212;
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 0.5rem;
    background-color: #121212;
}
.library{
    border-radius: 0.5rem;
    background-color: #121212;
    margin-top: 0.5rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
    overflow-y: auto;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    background-color: #121212;
}
.lib-option a img{
    height: 1.25rem;
    width: 1.25rem;
    background-color: #121212;
}
#lib{
    background-color: #121212;
}
.options .icons{
    font-size: 1.25rem;
    display: flex;
    background-color: #121212;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
    background-color: #121212;
}
.icons i:hover{
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}
.lib-box{
    background-color: #121212;
}
.box{
    background-color: #232323;
    height: fit-content;
    border-radius: 0.5rem;
    margin: 1rem;
}
.box-p1{
    font-size: 1rem;
    background-color: #232323;
    font-weight: 500;
    margin: 0.5rem 1rem;
    padding: 0.25rem 0.5rem;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.75;
    background-color: #232323;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 1rem;
}
.badge1{
    background-color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: black;
    height: 2rem;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    margin: 1rem 1.5rem;
}
.playlist:hover{
    width: 7.4rem;
    height: 2.1rem;
    font-weight: 900;
    box-shadow: 0 0 30px black;
}
.podcast:hover{
    width: 8.3rem;
    height: 2.1rem;
    font-weight: 900;
    box-shadow: 0 0 30px black;
}
.sticky-nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    background-color: #121212;
    z-index: 12;
}
.button1{
    background-color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: black;
    height: 2rem;
    width: fit-content;
    padding: 0.25rem 0.5rem;
}
.button1:hover{
    width: 8.8rem;
    height: 2.1rem;
    font-weight: 900;
    box-shadow: 0 0 30px black;
}
.button2:hover{
    width: 6.7rem;
    height: 2.1rem;
    font-weight: 900;
    box-shadow: 0 0 10px black;
}
.button2{
    background-color: #000;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: white;
    height: 2rem;
    width: fit-content;
    padding: 0.25rem 0.5rem;
}
.left-icons{
    background-color: #121212;
    margin-left: 0.75rem;
}
.right-icons{
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
}
.sticky-nav .left-icons img{
    background-color: #121212;
}
.sticky-nav .right-icons button{
    margin-right: 1rem;
}
#user-icon{
    margin-right: 1rem;
    background-color: #121212;
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.cards{
    background-color: #121212;
}
.card-container{
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
}
.cards h2{
    background-color: #121212;
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.75rem 0.85rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
    background-color: #232323;
}
.card-title{
    background-color: #232323;
    font-weight: 600;
    margin: 0.5rem 0.25rem;
}
.card-info{
    background-color: #232323;
    font-size: 0.65rem;
    opacity: 0.7;
}

.footer{
    height: 300px;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    background-color: #121212;
    opacity: 0.4;
}
.music-player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.song{
    width: 25%;
}
.player{
    width: 50%;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seek{
    display: flex;
    justify-content: center;
}
.player-controls img{
    height: 1rem;
    width: 1rem;
    margin-left: 1.75rem;
    opacity: 0.7;
}
.player-controls img:hover{
    opacity: 1;
}
.range{
    width: 65%;
    appearance: none;
    background-color: transparent;    
}
.range::-webkit-slider-runnable-track{
    border-radius: 100px;
    height: 0.2rem;
    background-color: aliceblue;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.range::-webkit-slider-thumb{
    appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}
.song img{
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 0.2rem;
}
.song{
    display: flex;
    justify-content: start;
}
.song-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.2rem;
}
.artist{
    font-size: 0.5rem;
    opacity: 0.7;
}
.player-options{
    width: 25%;
}
.song-info{
    margin-left: 1rem;
    margin-top: 0.9rem;
    margin-right: 1.25rem;
}
.like{
    background-color: #000;
    margin-top: 1.35rem;
    opacity: 0.7;
    font-size: 1rem;
}
.like:hover{
    opacity: 1;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 20ms ;
}
.player-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright-img{
    height: 5rem;
    width: 9rem;   
}
.copyright{
    font-size: 0.8rem;
}